.overlay-appear {
    transform: translate(0, 100%);
}

.overlay-appear.overlay-appear-active {
    transform: translate(0, 0);
    transition: transform 900ms ease-in;
}

.overlay-enter {
    transform: translate(0, 100%);
}

.overlay-enter.overlay-enter-active {
    transform: translate(0, 0);
    transition: transform 900ms ease-in;
}

.overlay-leave {
    transform: translate(0, 0);
}

.overlay-leave.overlay-leave-active {
    transform: translate(0, 100%);
    transition: transform 900ms ease-in;
}
