.example-appear {
    transform: translate(0, 100%);
}

.example-appear.example-appear-active {
    transform: translate(0, 0);
    transition: transform 900ms ease-in;
}

.example-enter {
    transform: translate(0, 100%);
}

.example-enter.example-enter-active {
    transform: translate(0, 0);
    transition: transform 900ms ease-in;
}


.example-leave {
    transform: translate(0, 0);
}

.example-leave.example-leave-active {
    transform: translate(0, 100%);
    transition: transform 900ms ease-in;
}
