/*
 * TODO: Time slot events should have rounded corners
 * TODO: Past events should display faded-out
 */
 .time-slot-event {
     flex: 1 1 100;
     cursor: pointer;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 100%;
     height: 100%;
     justify-content: center;
 }
.time-slot-event::-moz-focus-inner {
  border: 0;
}
.time-slot-event:hover,
.time-slot-event:focus,
.time-slot-event:active {
    outline: 0;
    box-shadow: 0 0 0.25rem 0 #51b1e0;
    border-color: #000;
}

.time-slot-event--link {
    position: absolute;
    padding-left: 1vw;
}
